<?xml version="1.0"?>
<cg>
    <non-bonded>
      <name>B2-B2</name> <!-- Interaction between B2 beads -->
      <type1>B2</type1>
      <type2>B2</type2>
      <min>0</min>
      <max>2</max>
      <step>0.05</step>
    </non-bonded>
    <non-bonded>
      <name>B2-B1</name> <!-- Interaction between B2 beads -->
      <type1>B2</type1>
      <type2>B1</type2>
      <min>0</min>
      <max>2</max>
      <step>0.05</step>
    </non-bonded>
    <non-bonded>
      <name>CG-CG</name> <!-- Interaction between solvent CG beads -->
      <type1>CG</type1>
      <type2>CG</type2>
      <min>0</min>
      <max>2</max>
      <step>0.05</step>
    </non-bonded>

    <non-bonded>
      <name>B2-CG</name> <!-- Polymer-solvent interaction -->
      <type1>B2</type1>
      <type2>CG</type2>
      <min>0</min>
      <max>2</max>
      <step>0.05</step>
    </non-bonded>

    <non-bonded>
      <name>B1-CG</name> <!-- Polymer-solvent interaction -->
      <type1>B1</type1>
      <type2>CG</type2>
      <min>0</min>
      <max>2</max>
      <step>0.05</step>
    </non-bonded>
</cg>
